# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules e Vercel
node_modules
.vercel
*.local

# Build do Backend (Queremos ignorar o build do Express)
backend/dist

# Build do Frontend (NÃO ignoramos para que o Vercel possa servir)
# A pasta frontend/dist SERÁ RASTREADA.

# Outros
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?